{% load static %}
<!DOCTYPE html>
<html lang="de">

<head>
  <title>{% block title %}{% endblock %}</title>
  {% load django_bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %}
  <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  
</head>

<body>
  <nav class="navbar navbar-expand-sm navbar-custom">
    <div class="container-fluid">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link {% if request.resolver_match.url_name == 'home' %}active{% endif %}"
            href="{% url 'projects:project_list' %}">Home</a>
        </li>

      </ul>
    </div>
  </nav>
  <br>

  {% block content %}
  {% endblock %}

  <!-- Footer with version number -->
  <footer class="footer mt-auto py-3 bg-light">
    <div class="container text-center">
      <span class="text-muted">&copy; Statistisches Amt Basel-Stadt<span style="float:right; font-size: smaller;">v0.0.1
          (20.1.2025)</span></span>
    </div>
  </footer>

  {% if messages %}
  <script>
    $(document).ready(function () {
      {% for message in messages %}
      toastr.options = {
        "closeButton": true,
        "progressBar": true,
      }
      toastr.success("{{ message|escapejs }}");
      {% endfor %}
    });
  </script>
  {% endif %}
</body>

</html>